@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* CSS Variables */
:root {
  --primary: #fff;
  --secondary: #b3b3b3;
  --third: #00ffff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box; /* ?If we use any padding for example it doesn't affect the width of the element */
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  background-attachment: fixed;
  background-size: 400% 400% 400%;
  margin: 0 auto;
  width: 1000px;
  font-family: "Oxygen", sans-serif;
  color: var(--primary);
}

/* Header + Container */
header {
  display: grid;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.container {
  display: grid;
  grid-gap: 100px;
  grid-template-areas:
    "showcase showcase img-of-me"
    "projects projects projects"
    "contact-me contact-me contact-me";
}
.showcase-about-me {
}

.img-of-me img {
  width: 150px;
  height: 150px;
}

.showcase {
  grid-area: showcase;
  min-height: 200px;
}

.showcase-title {
  font-size: 1.3rem;
}

.showcase-information {
  display: flex;
  align-items: center;
  color: var(--secondary);
}

.img-of-me {
  grid-area: img-of-me;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.projects {
  grid-area: projects;
}

.contact-me {
  grid-area: contact-me;
  display: grid;
  grid-template-areas:
    "contact-button contact-button"
    "contact-linkedin contact-email";
}

.contact-linkedin {
  grid-area: contact-linkedin;
}

.contact-email {
  grid-area: contact-email;
}

.contact-button {
  grid-area: contact-button;
  justify-self: center;
  text-align: center;
}
.language-and-tools-title {
  text-align: center;
}

.language-and-tools-icons {
  display: flex;
  justify-content: center;
  align-self: center;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.projects-nav a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  background: var(--third);
  color: black;
  border-radius: 30px;
  font-family: "Pacifico", cursive;
}

.projects-nav a:hover {
  background: var(--dark);
  color: white;
}

/* Button */
.button-84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#2c333b, #0b0c0c);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-84:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button-84:active {
  outline: 0;
}

.button-84:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}
